<!-- this serves as my home page but for now it doesnt show up automatically untill i add /clubs to the link  -->

{% extends '../base.html' %}

{% block title %} 
      crit_ur_club
{% endblock %}

{% block content %}
  <h1>Welcome to Crit_ur_club</h1>
  <p style="text-align: center;">Click on a club to leave or read criticism about its performance.</p>
  <ul>

    {% for club in all_clubs %}
    <li>
      <a href="{% url 'club_detailed' club_slug=club.slug %}">{{ club.name }}</a>
    </li>
    {% endfor %}

    </li>
  </ul>

{% endblock %}
