<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'clubs/style.css' %}">
    <title>{% block title %}Crit_ur_club{% endblock %}</title>
</head>

<body>
    {% block content %}
    <header>
        <h1>Welcome to Crit_ur_club</h1>
        <p style="text-align: center;">Click on a club to leave or read criticism about its performance.</p>
    </header>
    <main>
       
        <!-- Default content goes here -->
      
    </main>
    {% endblock %}
    <footer>
        <p style="text-align: center;">&copy; 2025 Crit_ur_club</p>
    </footer>
</body>
</html>